<a href="https://colab.research.google.com/github/Krishan-Kumar-kk/BASIC_ANALYSIS/blob/main/list_DType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**[Slide No.- 35]**

1. Create a empty list and check its Data type

data type of a:  <class 'list'>

**[Slide No.- 35]**

2. Create a list in which at even places string are present and at odd places integervalue is present and the length of the string is 6.

**[Slide No. - 36]**

3. Create a lsit which has 6 elements and print last three elements from the list

**[Slide No. - 36 ]**

4. What is the output :
 list = [1,2,3,4,5,6,7] 
 
 list[:]=?

['xyz', 3, 'etc']

**[Slide No. - 36]**

5. What is the output : list = [1,2,3,4,5,6,7]

Print the even places items from the list.

[1, 5]

**[Slide No. - 36]**

6. What is the output : list = [1,2,3,4,10,11,7]

print 10 and 11 item from the list .

[10, 11]

[7, 11, 10, 4, 3, 2, 1]

**[Slide No. -38]**

7.  Delete the 3 index value from the list and the print the list.

list = [1, 2, 3, 4, 5, 6]    

print(list)

[1, 2, 4, 5, 6]

[1, 2, 3, 5, 6]

[Slide No. - 37]
8. list = [1, "a", 3, 4, 5, 6] 

replace "a" by 2 in the list

What is the new list?

Krish

**[Slide No - 37]**

9. list = [1, 2, 3, 4, 5, 6] 

by using neagtive indexing replace 5 by 'e' in the list 

print(list)

[1, 2, 3, 4, 'e', 6]

**[Slide No. - 37]**

10. list = [1, 2, 3, 4, 5, 6] 

replace 1st and 2nd index value by (89,78)

print(list)

[1, 89, 78, 4, 5, 6]

**[Slide No. -38]**

11. Create a list and delete 2 to 4 index value  from list ?

[1, 2, 6]

**[Slide No.- 39]**

12. Rermove Science  item from the list.

Subject =['math', 'science', 'hindi', 'SST', 'Sanskrit']

['math', 'hindi', 'SST', 'Sanskrit']

['math', 'hindi', 'SST', 'Sanskrit']